*{
    font-family: 'roboto','Shrikhand', sans-serif;
    margin:0;
    text-decoration: none;
    font-size: 100%;
}

p{
    font-weight: 300;
    font-size: 90%;
}

/*header*/
.bouton_precedent{
    color: black;
    position: absolute;
    font-size: 140%;
    padding-top: 3%;
    padding-left: 5%;
}

.header_logo{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.img_logo{
    width: 50%;
    padding-top: 2%;
}
/*fin header*/


/*section image d'illustration*/
.img_restaurant{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/*fin section image d'illustration*/


/*main*/


/*section menus*/

.menus{
    padding: 5%;
    background-color:#F7F7F7;
    position: relative;
    z-index: 1;
    margin-top: -10%;
    border-radius: 25px 25px 0 0;
}

/*entete_menus*/
.entete_menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nom_restaurant{
    font-family: Shrikhand;
    font-size: 160%;
    font-weight: 500;
}

.fa-heart::before {
    background: black;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.fa-heart::after{
    content: "\f004";
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: bold;
    height: 0%;
    right: 5%;
    font-size: 30px;
    position: absolute;
    transition: all 2s;
}

.fa-heart:hover::after {
    height: 5%;
    visibility: visible;
}
/*fin entete menus*/


/*section entrées plats et desserts*/
.entree{
    animation: apparition 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.plats{
    animation: apparition 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.dessert{
    animation: apparition 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes apparition {
    from{

        margin-top: 10px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    } 
}
.boite_categorie{
    padding-top: 7%;
    padding-bottom: 10%;
}

.nom_catégorie{
    font-weight: 300;
    padding-bottom: 2%;
    border-bottom: 2px solid #99E2D0;
    position: absolute;
    margin-top: -2%;
    left: 5%;
    right: 88%;
}

.carte_plat{
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    width: 100%;
    margin-top: 2%;
    position: relative;
    overflow: hidden;
}

.carte_plat::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 100%;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    transition: all .5s;
    overflow: hidden;
}

.carte_plat:hover::before{
    left: 85%;
    width: 15.5%;
}

.carte_plat:hover .prix{
    left: 75%;
}

.text_plat{
    padding: 2%;
}

.complement_et_prix{
    display: flex;
    text-align: center;
}

.prix{
    position: absolute;
    left: 88%;
    transition: all .5s;
    font-size: 85%;
    background-color: white;

}

.carte_plat:hover .prix{
    left: 77%;
    z-index: 1;
}

.carte_plat:hover .text_long{
    padding-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.picto_check{
    margin-top: -30px;
    position: absolute;
    color: white;
    margin-left: 98%;
    display: none;
    font-size: 150%;
    transition: all 0.5s;
}

.carte_plat:hover .picto_check{
    display: block;
    animation: move-in .5s forwards, rotate-check 1s .1s forwards;
}

@keyframes move-in {
    0% { margin-left: 100%; opacity: 0; }
    100% { margin-left: 87%; opacity: 1; }
}

@keyframes rotate-check {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}


/*fin section entrée/plats/desserts*/

/*section commander*/

#bouton{
    border-radius: 100px;
    border: 0;
    width: 65%;
    font-size: 150%;
    padding: 4%;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    cursor: pointer;
}

.position_bouton{
    display: flex;
    justify-content: center;
    padding: 10% 0 5% 0;
}
/*fin section commander*/

/*footer*/
footer{
    background-color: #353535;
    padding: 5%;
}

#logo_footer{
    font-family: Shrikhand;
    color: white;
    font-weight: 100;
    font-size: 140%;
}

.conteneur_text_footer{
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 150%;
}

.text_footer{
    color: white;
}

.text_picto_foot{
    display: flex;
    text-align: center;
}

.picto_foot{
    color: white;
    font-size: 85%;
    padding-right: 2%;
}
/*fin footer*/

/*disposition desktop*/
@media screen and (min-width:992px){

    /*header*/
    .img_logo{
        width: 30%;
    }

    .bouton_precedent{
        font-size: 250%;
        padding-top: 3%;
    }
    /*fin header*/

    /*main*/

    /*section image illustration*/

    .img_restaurant
    {
        height: 500px;
    }
    /*fin section image illustration*/

    /*section menus*/
    .menus{
        margin-top: -2%;
        padding-top: 3%;
    }

    /*en-tete menus*/
    .nom_restaurant{
        font-size: 250%;
    }

    .fa-heart::after{
        font-size: 50px;
    }

    .fa-heart::before{
        font-size: 50px;
    }
    /*fin en-tete menus*/

    /*section entrée plat et dessert*/
    .boite_categorie{
        padding-bottom: 1%;
    }

    .nom_catégorie{
        font-size: 200%;
        padding-bottom: 1%;
    }

    .carte_plat{
        width: 49%;
    }

    .text_plat{
        font-size: 150%;
    }

    .conteneur_carte_plat{
        display: flex;
        justify-content: space-between;
    }

    .picto_check{
        margin-top: -48px;
    }

    .carte_plat:hover .picto_check{
        font-size: 150%;
    }

    .text_long{
        font-size: 100%;
    }
    
    .carte_plat:hover .text_long{
        text-overflow: clip;
    }
    /*fin section entree plat desser*/

    /*section commander*/
    #bouton{
        font-size: 250%;
        width: 50%;
        border-radius: 40px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    /*footer*/
    #logo_footer{
        font-size: 400%;
        text-align: center;
        margin-top: -3%;
        padding-bottom: 2%;
    }

    .conteneur_text_footer{
        flex-direction: row;
        justify-content: space-between;
        font-size: 200%;
    }

    .text_picto_foot{
        text-align: unset;
    }
    /*fin footer*/
}


/*disposition tablette*/
@media screen and (min-width:768px) and (max-width:992px){

    h3{
        font-size: 160%;
    }
    p{
        font-size: 150%;
    }

    /*header*/
    .bouton_precedent{
        font-size: 220%;
    }

    .img_logo{
        width: 40%;
    }
    /*fin header*/

    /*main*/
    /*section image illustration*/
    .img_restaurant{
        height: 350px;
    }
    /*fin section image illustration*/

    /*section menu*/
    /*section entête menu*/
    .nom_restaurant{
        font-size: 250%;
    }

    .fa-heart::before{
        font-size: 45px;
    }

    .fa-heart::after{
        font-size: 45px;
    }
    /*fin section entête menu*/
    
    /*section entrée plat et dessert*/
    .boite_categorie{
        margin-bottom: -3%;
    }

    .nom_catégorie{
        font-size: 180%;
    }

    .prix{
        font-size: 150%;
    }

    .carte_plat:hover .text_long{
        text-overflow: clip;
    }

    .picto_check{
        margin-top: -54px;
        font-size: 275%;
    }
    /*fin section entrée plat et dessert*/

    /*footer*/
    #logo_footer{
        font-size: 220%;
        margin-top: -2%;
    }

    .conteneur_text_footer{
        line-height: 200%;
    }
    /*fin footer*/

}

