*{
    font-family: 'roboto', sans-serif;
    margin:0;
    text-decoration: none;
    font-size: 110%;
}

p{
    font-weight: 200;
    font-size: 100%;
}

h3{
    font-size: 120%;
}


/*header*/
.bouton_precedent{
    color: black;
    position: absolute;
    font-size: 190%;
    padding-top: 4%;
    padding-left: 5%;
}

.header_logo{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.img_logo{
    width: 50%;
    padding-top: 2%;
}
/*fin header*/


/*section image d'illustration*/
.img_restaurant{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
/*fin section image d'illustration*/


/*main*/


/*section menus*/

.menus{
    padding: 5%;
    background-color:#F7F7F7;
    position: relative;
    z-index: 1;
    margin-top: -10%;
    border-radius: 25px 25px 0 0;
}

/*entete_menus*/
.entete_menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nom_restaurant{
    font-family: Shrikhand;
    font-size: 210%;
}

.fa-heart::before {
    background: black;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.fa-heart::after{
    content: "\f004";
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: bold;
    height: 0%;
    right: 5%;
    font-size: 50px;
    position: absolute;
    transition: all 2s;
}

.fa-heart:hover::after {
    height: 5%;
    visibility: visible;
}
/*fin entete menus*/


/*section entrées plats et desserts*/
.entree{
    animation: apparition 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.plats{
    animation: apparition 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.dessert{
    animation: apparition 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes apparition {
    from{

        margin-top: 10px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    } 
}
.boite_categorie{
    padding-top: 7%;
    padding-bottom: 7%;
}

.nom_catégorie{
    font-weight: 55;
    padding-bottom: 2%;
    border-bottom: 2px solid #00a77e;
    position: absolute;
    margin-top: -2%;
    font-size: 140%;
    left: 5%;
    right: 88%;
}

.carte_plat{
    display: flex;
    background-color:white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    width: 100%;
    margin-top: 2%;
    position: relative;
}

.carte_plat::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 100%;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    transition: all .5s;
    visibility: hidden;
}

.carte_plat:hover::before{
    left: 85%;
    width: 15%;
    visibility: visible;
}

.carte_plat:hover .prix{
    left: 75%;
}

.text_plat{
    padding: 2%;
}

.complement_et_prix{
    display: flex;
    text-align: center;
}

.prix{
    position: absolute;
    left: 88%;
    transition: all .5s;
    font-size: 100%;
    background-color: white;
}

.picto_check{
    margin-top: -80px;
    position: absolute;
    color: white;
    margin-left: 98%;
    visibility: hidden;
    font-size: 200%;
    transition: all .5s;
    font-size: 0%;
}

.carte_plat:hover .picto_check{
    margin-left: 86%;
    visibility: visible;
    transform: rotate(360deg);
    font-size: 200%;
}

.text_long{
    position: absolute;
    left: 82%;
    visibility: hidden;
    transition: all .5s;
}

.carte_plat:hover .text_long{
    visibility: visible;
    left: 71%;
    background-color: white;
}

/*fin section entrée/plats/desserts*/

/*section commander*/

#bouton{
    border-radius: 100px;
    border: 0;
    width: 65%;
    font-size: 200%;
    padding: 4%;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    cursor: pointer;
}

.position_bouton{
    display: flex;
    justify-content: center;
    padding: 10% 0 5% 0;
}
/*fin section commander*/

/*footer*/
footer{
    background-color: #353535;
    padding: 5%;
}

.img_logo_footer{
    filter: brightness(17);
    width: 30%;
    padding-bottom: 3%;
}

.text_footer{
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 150%;
    font-size: 150%;
}

.text_picto_foot{
    display: flex;
    text-align: center;
}

.picto_foot{
    color: white;
    font-size: 85%;
    padding-right: 2%;
}
/*fin footer*/

/*disposition desktop*/
@media screen and (min-width:992px){

    h3{
        font-size: 83%;
    }

    p{
        font-size: 70%;
    }

    /*header*/
    .img_logo{
        width: 35%;
    }

    .bouton_precedent{
        font-size: 250%;
        padding-top: 3%;
    }
    /*fin header*/

    /*main*/

    /*section image illustration*/

    .img_restaurant
    {
        height: 500px;
    }
    /*fin section image illustration*/

    /*section menus*/
    .menus{
        margin-top: -2%;
    }

    /*en-tete menus*/
    .nom_restaurant{
        font-size: 250%;
    }

    .fa-heart::after{
        font-size: 50px;
    }

    .fa-heart::before{
        font-size: 50px;
    }
    /*fin en-tete menus*/

    /*section entrée plat et dessert*/
    .nom_catégorie{
        font-size: 200%;
    }

    .carte_plat{
        width: 51%;
        margin: 1%;
    }

    .text_plat{
        font-size: 150%;
    }

    .conteneur_carte_plat{
        display: flex;
        justify-content: space-between;
    }

    .picto_check{
        margin-top: -10%;
    }

    .carte_plat:hover .picto_check{
        font-size: 150%;
    }

    .prix{
        font-size: 70%;
    }

    .text_long{
        font-size: 73%;
    }
    /*fin section entree plat desser*/

    /*section commander*/
    #bouton{
        font-size: 250%;
        width: 50%;
        border-radius: 40px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    /*footer*/
    .img_logo_footer{
        display: flex;
        margin: auto;
    }
    
    .text_footer{
        flex-direction: row;
        justify-content: space-between;
        font-size: 200%;
    }
    
    .text_picto_foot{
        text-align: unset;
    }
    /*fin footer*/
}